.example-spacer {
  flex: 1 1 auto;
}
.o{
  margin: 20px;
}
.first{
  margin-top: 10px;
}
.mat-sort-header{
  align-items: center;
}
table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.container{
  max-width: 1000px;
  margin: 0 auto;
}
